@namespace WorkingTimer.Client.Components


<div class="calender">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <select class="dropdown-item-text" style="width:100%" @onchange="SelectMonth">
                <option value="1">Janvier</option>
                <option value="2">Février</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Juillet</option>
                <option value="8">Aout</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
            </select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <select class="dropdown-item-text" style="width:100%" @onchange="SelectYear">
                @for (int i = DateTime.Now.Year - 2; i <= DateTime.Now.Year; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>

    </div>
    <table class="calender-table">
        <thead>
            <tr>
                <td>Dim</td>
                <td>Lun</td>
                <td>Mar</td>
                <td>Mer</td>
                <td>Jeu</td>
                <td>Ven</td>
                <td>Sam</td>
            </tr>
        </thead>
        <tbody>
            @for (int r = 0; r < rowsCount; r++)
            {
                <tr>
                    @foreach (var day in days.Skip(r * 7).Take(7))
                    {
                        <td>
                            @{
                                string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
                                string selectedDayClass = day == selected_Day ? "selected-day" : "";
                            }
                            @if (!day.IsEmpty)
                            {
                                <div class="day shadow-effect @currentDayClass @selectedDayClass" @onclick="() => Select_Day.InvokeAsync(day)">
                                    <h4>@day.DayNumber</h4>
                                </div>
                            }

                        </td>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>


