@namespace WorkingTimer.Client.Components

    <div class="information-globale">
        <span style="text-decoration:underline; font-weight:bolder">Informations</span>
        <p class="mt-3">
            Total jours dans un mois : <b>22</b> J
            <br />
            Total d'heure au minimun : <b>176</b> H
        </p>
    </div>
    <div class="information-mensuel">
        <span style="text-decoration:underline; font-weight:bolder">
            @Utilities.ConvertIntMonthToString(@Selected_Day.Date.Month) @Selected_Day.Date.Year
        </span>
        <p class="mt-3">
            Total jours travailler : <b>18</b> J
            <br />
            Total d'heure cumuler : <b>140:30</b>
            <br />
            Situation : <b class="bg-danger">- 3:30</b>
        </p>
    </div>