@page "/"

<!--HeaderPage-->
<header>
    <h3>Bienvenue dans l'application "Working Timer!"</h3>
    <p>C'est une application qui vous permet de calculer votre volume horaire et de gérer l'assiduité dans votre établissement </p>

    <!--NotAuthenticated Users-->
    <AuthorizeView>
        <NotAuthorized>
            <p>Veuillez vous identifier pour accéder a votre espace calendrier</p>
            <a href="#" class="login-button shadow-effect"> <img src="images/login.png" />&nbsp;&nbsp;Connexion </a>
        </NotAuthorized>
    </AuthorizeView>
</header>

<!-- Calender Component-->